<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!--<div th:text="${errormessage}"></div>-->
<div th:replace="base :: nav"></div>
<form action="#" th:action="@{/process}"
      th:object="${course}" method="post">
    <input type="hidden" th:field="*{id}" />


    First Name :<input type="text" th:field="*{firstName}" />
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}"></span><br/>

    Last Name :<input type="text" th:field="*{lastName}" />
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"></span><br/>

    Email :<input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br/>

    Phone Number :<input type="text" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone')}"
          th:errors="*{phone}"></span><br/>


    Department:<select name="department" id="department" class="custom-select" th:field="*{department}" />
    <option value="">Select Department</option>
    <option th:each="instruct : ${departments}" th:value="${instruct.id}" th:text="${instruct.name}"></option>
</select><br/>

    <input type="submit" value="Submit" />

</form>
</body>
</html>